.idea/
*dev_test*.py
*.pyc
.vscode
notes.txt
*.mod
*.env

pc_nuke/plugins/**
!pc_nuke/plugins/init.py
!pc_nuke/plugins/menu.py
!pc_nuke/plugins/python_scripts
!pc_nuke/plugins/python_scripts/__init__.py
!pc_nuke/plugins/python_scripts/pc_startup_functions.py

pc_maya/tool_loading*
pc_maya/startup_module/presets*
pc_maya/startup_module/scripts/sticky_controller/icons


sample_files/
mov_eos_cred.json
*.lnk
pc_apps/
pipeline_utilities/dalies_submitter/runtranscoder.ps1
pipeline_utilities/maya_audio_transcode/run_maya_wav.ps1
